<div class="roll-app">
    <nav class="roll-app-nav" data-group="primary">
        <a class="item" data-tab="roll-app-strike">Strikes</a>
        <a class="item" data-tab="roll-app-damage">Damage</a>
        <a class="item" data-tab="roll-app-ac">Armor Class</a>
        <a class="item" data-tab="roll-app-save">Saves</a>
        <a class="item" data-tab="roll-app-hp">Hit Points</a>
        <a class="item" data-tab="roll-app-spell">Spell</a>
        <a class="item" data-tab="roll-app-dc">DCs</a>
        <a class="item" data-tab="roll-app-areaDamage">Area Damage</a>
        <a class="item" data-tab="roll-app-perception">Perception</a>
        <a class="item" data-tab="roll-app-abilityScore">Ability Scores</a>
        <a class="item" data-tab="roll-app-skill">Skills</a>
    </nav>
    <div class="roll-app-body">
        <div class="tab" data-group="primary" data-tab="roll-app-strike">
            {{> rollAppTable data=data.levels selected=data.selected key="strikeAttack" formulaBase="1d20+" rollName="Strike Attack"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-damage">
            {{> rollAppTable data=data.levels selected=data.selected key="strikeDamage" formulaBase="" rollName="Strike Damage"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-ac">
            {{> rollAppTable data=data.levels selected=data.selected key="armorClass" formulaBase="" rollName="Armor Class"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-save">
            {{> rollAppTable data=data.levels selected=data.selected key="savingThrow" formulaBase="1d20+" rollName="Saving Throw"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-hp">
            {{> rollAppTable data=data.levels selected=data.selected key="hitPoints" formulaBase="" rollName="Hit Points"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-spell">
            {{> rollAppTable data=data.levels selected=data.selected key="spell" formulaBase="1d20+" rollName="Spell Attack"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-dc">
            {{> rollAppTable data=data.levels selected=data.selected key="difficultyClass" formulaBase="" rollName="DC"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-areaDamage">
            {{> rollAppTable data=data.levels selected=data.selected key="areaDamage" formulaBase="" rollName="Area Damage"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-perception">
            {{> rollAppTable data=data.levels selected=data.selected key="perception" formulaBase="1d20+" rollName="Perception"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-skill">
            {{> rollAppTable data=data.levels selected=data.selected key="skill" formulaBase="1d20+" rollName="Skill Roll"}}
        </div>
        <div class="tab" data-group="primary" data-tab="roll-app-abilityScore">
            {{> rollAppTable data=data.levels selected=data.selected key="abilityScore" formulaBase="1d20+" rollName="Ability Roll"}}
        </div>
    </div>
</div>
