div.roll-app {
}

div.roll-app nav.roll-app-nav {
    display: flex;

    background: black;
    color: white;

    a {
        padding: 4px 8px;
    }
}

div.roll-app div.roll-app-body {
}

table.roll-app-table {
    tbody tr,
    thead tr {
        text-align: center;

        td:not(:last-child) {
            border-right: 1px solid black;
        }
    }

    tbody tr {
        &.selected {
            background: black;
            color: white;
        }

        &:nth-child(2n) {
            background: rgba(0, 0, 0, 0.2);

            &:hover {
                background: rgba(0, 0, 0, 0.3);
            }
        }

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    tbody a {
        display: block;
    }
}
