<div class="tab about" data-group="primary" data-tab="about">
    <h1>About</h1>
    <p>Hi! My name is Andy, but I go by DJ. I hope you're enjoying PF2E Toolbox. I made it to make my life easier and I hope it makes yours easier as well!</p>

    <h3>Bug Reports</h3>
    <p>Please report bugs <a href="https://github.com/Djphoenix719/FVTT-PF2EToolbox/issues/new?assignees=&labels=bug&template=bug_report.md&title=%5BBUG%5D" target="_blank">here</a> on GitHub.</p>

    <h3>Feature Requests</h3>
    <p>Please request features or enhancements <a href="https://github.com/Djphoenix719/FVTT-PF2EToolbox/issues/new?assignees=&labels=enhancement&template=feature_request.md&title=%5BFEATURE%5D">here</a> on GitHub.</p>

    <h2>My Other Modules</h2>
    <p><a href="https://github.com/Djphoenix719/PDFoundry">PDFoundry</a>, a fully featured PDF viewer including form fillable character sheets and more.</p>

    <hr>
    <p><a href="https://ko-fi.com/djsmods" target="_blank">If you want to support my work, consider supporting me on Ko-Fi.</a></p>
</div>