<div class="tab features" data-group="primary" data-tab="features">
    <h1>Features</h1>

    {{#each features as |feature|}}
    <div class="feature">
        <div class="feature-header">
            <span class="title">{{feature.name}}</span>
            <div class="attributes">
                {{#each feature.attributes as |attribute|}}
                    <i class="{{attribute.icon}}" title="{{attribute.title}}"></i>
                {{/each}}
            </div>
        </div>

        <p class="feature-description">
            {{{feature.description}}}
        </p>

        <div class="feature-content">
            {{#each feature.inputs as |input|}}
                <div class="form-group">

                    <label for="{{input.name}}">{{input.label}}</label>

                    {{#ifeq input.type "checkbox"}}
                        <input type="checkbox" name="{{input.name}}" {{checked input.value}}>
                    {{/ifeq}}
                    {{#ifeq input.type "number"}}
                        <input type="number" name="{{input.name}}" value="{{input.value}}"
                               {{#if input.min}}min="{{input.min}}"{{/if}}
                               {{#if input.max}}max="{{input.max}}"{{/if}}>
                    {{/ifeq}}
                    {{#ifeq input.type "text"}}
                        <input type="text" name="{{input.name}}" value="{{input.value}}">
                    {{/ifeq}}
                    {{#ifeq input.type "file"}}
                        <input type="text" name="{{input.name}}" value="{{input.value}}">
                        {{filePicker target=input.name type="image"}}
                    {{/ifeq}}

                </div>

                {{#if input.help}}
                    <p class="feature-help">
                        {{{input.help}}}
                    </p>
                {{/if}}
            {{/each}}
        </div>

        {{#if feature.help}}
            <p class="feature-help">
                {{{feature.help}}}
            </p>
        {{/if}}

    </div>
    {{/each}}
</div>