<div class="tab features" data-group="primary" data-tab="features">
    <h1>Features</h1>

    {{#each features as |feature|}}
    <div class="feature">
        <div class="feature-header">
            <span class="title">{{feature.name}}</span>
            <div class="attributes">
                {{#each feature.attributes as |attribute|}}
                    <i class="{{attribute.icon}}" title="{{attribute.title}}"></i>
                {{/each}}
            </div>
        </div>

        <p class="feature-description">
            {{{feature.description}}}
        </p>

        <div class="feature-content">
            {{#each feature.inputs as |input|}}
                <div class="form-group">

                    <label for="{{input.name}}">{{input.label}}</label>

                    {{#ifeq input.type "checkbox"}}
                        <input type="checkbox" name="{{input.name}}" {{checked input.value}}>
                    {{/ifeq}}
                    {{#ifeq input.type "number"}}
                        <input type="number" name="{{input.name}}" value="{{input.value}}">
                    {{/ifeq}}

                </div>
            {{/each}}
<!--            <div class="form-group">-->
<!--                <label>Number</label>-->
<!--                <input type="number">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label>Checkbox</label>-->
<!--                <input type="checkbox">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label>Text</label>-->
<!--                <input type="text">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label>Color</label>-->
<!--                <input type="color">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label>File</label>-->
<!--                <input type="file">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label>Select</label>-->
<!--                <select>-->
<!--                    <option value="1">One</option>-->
<!--                    <option value="2">Two</option>-->
<!--                </select>-->
<!--            </div>-->
        </div>

        {{#if feature.help}}
            <p class="feature-help">
                {{{feature.help}}}
            </p>
        {{/if}}

    </div>
    {{/each}}
</div>