<div class="tab license" data-group="primary" data-tab="license">
    <h1>License</h1>
    <p>PF2E Toolbox uses trademarks and/or copyrights owned by Paizo Inc., used under <a href="https://www.paizo.com/communityuse">Paizo's Community Use Policy</a>. We are expressly prohibited from charging you to use or access this content. PF2E Toolbox is not published, endorsed, or specifically approved by Paizo. For more information about Paizo Inc. and Paizo products, visit <a href="https://www.paizo.com" target="_blank">paizo.com</a>.</p>

    <p>Pathfinder Secrets of Magic Class Playtest © 2020, Paizo Inc.; Authors: Jason Bulmahn, Logan Bonner, Lyz Liddell and Mark Seifter</p>

    <p>Full license information, as well as copies of relevant license files, can be found on the project's <a href="https://github.com/Djphoenix719/FVTT-PF2EToolbox">GitHub</a>.</p>
</div>