div.settings-app-body .features {
    h1 {
        margin: 0;
    }

    div.feature {
        padding-bottom: 1em;
        border-bottom: 1px solid #782e22;

        div.feature-header {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #782e22;

            span.title {
                display: block;
                font-size: 1.5em;
                flex-grow: 1;
            }
            div.attributes {
                line-height: 1.5rem;
                flex-shrink: 1;

                i {
                    display: inline-block;
                    line-height: 1.5rem;
                    cursor: help;
                }
            }
        }

        p.feature-description {
            padding-left: 1em;
            text-align: justify;
        }

        div.feature-content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            padding: 0.5em;
            border: 1px solid #999;
            border-radius: 3px;
            background: rgba(0, 0, 0, 0.1);

            label {
                font-weight: bold;
            }
            p.feature-help {
                margin: 0;
            }
        }

        p.feature-help {
            padding: 0 1em;
            margin: 1em 0 0 0;

            font-size: smaller;
            font-style: italic;
            text-align: justify;
        }
    }
}
