<form class="creature-builder" autocomplete="off" onsubmit="event.preventDefault();">
    <label>Create the values of a creature from the values of the Game Mastery Guide</label>
    <div class="sheet-header">
        <h1 class="charname">
            <input
                name="name"
                type="text"
                value="{{object.name}}"
                placeholder="Character Name"
            />
        </h1>
    </div>
    <div class='sheet-body'>
        <div>
            <label for="level"><h2>Level</h2></label>
            <input name='data.details.level.value' id='level' type='number' value='{{object.data.details.level.value}}'>
        </div>
        <div id='road-map-selector'>
            <label for="road-map"><h2>Road Map</h2></label>
            <select id="road-map" >
                {{#each roadMaps as |roadMap|}}
                <option title='{{roadMap.tooltip}}'>{{roadMap.name}}</option>
                {{/each}}
            </select>
            <div class="btn apply-road-map"><a><i class="fas fa-plus"></i>Apply Road Map</a></div>
        </div>
        {{#each valueCategories as |category|}}
        <div class='category'>
            <h2>{{category.name}}</h2>
            {{#each category.associatedValues as |value|}}
            <div class='value'>
                <label for='{{value.name}}-group'><h3>{{value.name}}</h3></label>
                <div id='{{value.name}}-group'>
                    {{#each category.availableValues as |valueOption|}}
                    <input type="radio"
                           name='{{#if value.name}}{{value.name}}{{else}}{{category.name}}{{/if}}'
                           value='{{valueOption}}' {{#ifeq valueOption value.defaultValue}} Checked {{/ifeq}}> {{valueOption}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i>Build</button>
</form>
