<form class="creature-builder" autocomplete="off" onsubmit="event.preventDefault();">
    <label>{{ localize "PF2E.ScrollWandPopup.label" }}</label>
    <div class="sheet-header">
        <h1 class="charname">
            <input
                name="name"
                type="text"
                value="{{object.name}}"
                placeholder="{{localize 'PF2E.loot.LootNamePlaceholder'}}"
            />
        </h1>
    </div>
    <div class='sheet-body'>
        <div>
            <label for="level">Level</label>
            <input name='data.details.level.value' id='level' type='number' value='{{object.data.details.level.value}}'>
        </div>
        {{#each valueCategories as |category|}}
        <div class='category'>
            <h3>{{category.name}}</h3>
            {{#each category.associatedValues as |value|}}
            <div class='value'>
                <label for='{{value.name}}-group'>{{value.name}}</label>
                <div id='{{value.name}}-group'>
                    {{#each value.availableValues as |valueOption|}}
                    <input type="radio"
                           name='{{#if value.name}}{{value.name}}{{else}}{{category.name}}{{/if}}'
                           value='{{valueOption}}' {{#ifeq valueOption value.defaultValue}} Checked {{/ifeq}}> {{valueOption}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i>Build</button>
</form>
