<div class="form-group">
    <label>Item Type</label>

    <select id="create-mode" name="flags.pf2e-toolbox.create-mode">
        {{#select flags.pf2e-toolbox.create-mode}}
            {{#each create.modes as |type|}}
                <option value="{{type}}">{{type}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

{{#ifeq create.mode "weapon"}}
    {{> modules/pf2e-toolbox/templates/loot-app/create/CreateWeapon.html}}
{{/ifeq}}

{{#ifeq create.mode "armor"}}
    {{> modules/pf2e-toolbox/templates/loot-app/create/CreateArmor.html}}
{{/ifeq}}

{{#ifeq create.mode "scroll"}}
    <span>WIP</span>
{{/ifeq}}