{{> modules/pf2e-toolbox/templates/loot-app/create/SelectRow.html name="baseItem"
        label="Base Item" value=create.baseItem options=create.baseItemOptions}}

{{#if create.baseItem}}
    {{> modules/pf2e-toolbox/templates/loot-app/create/RuneStats.html level=create.baseItemLevel price=create.baseItemPrice}}
{{/if}}

<h4>Material</h4>
{{> modules/pf2e-toolbox/templates/loot-app/create/SelectRow.html name="material"
        label="Material" value=create.material options=create.materialOptions}}

{{> modules/pf2e-toolbox/templates/loot-app/create/SelectRow.html name="grade"
        label="Grade" value=create.grade options=create.gradeOptions}}

{{#if create.material}}
    <p class="clearfix" style="width: 100%">
        <span style="float: left">
            <i class="fas fa-shield-alt"></i> <b>{{create.materialHardness}}</b>
            <i class="fas fa-heart"></i> <b>{{create.materialHp}}</b>
            <i class="fas fa-heart-broken"></i> <b>{{create.materialBt}}</b>
        </span>
        <span style="float: right">
            <i class="fas fa-coins"></i> +<b>{{commas create.materialPrice}}</b> gp/bulk
        </span>
    </p>
{{/if}}

<h4>Runes</h4>
{{> modules/pf2e-toolbox/templates/loot-app/create/SelectRow.html name="potency"
        label="Potency" value=create.potency options=create.potencyOptions}}

{{#ifgt create.potency.nId 0}}
    {{> modules/pf2e-toolbox/templates/loot-app/create/RuneStats.html level=create.potencyLevel price=create.potencyPrice}}
{{/ifgt}}

{{#ifgt create.potency.nId 0}}
    {{> modules/pf2e-toolbox/templates/loot-app/create/SelectRow.html name="fundamental"
            label="Fundamental" value=create.fundamental options=create.fundamentalOptions}}
    {{#ifgt create.fundamental.nId 0}}
        {{> modules/pf2e-toolbox/templates/loot-app/create/RuneStats.html level=create.fundamentalLevel price=create.fundamentalPrice}}
    {{/ifgt}}

    {{> modules/pf2e-toolbox/templates/loot-app/create/SelectRow.html name="property1"
            label="Property 1" value=create.property1 options=create.propertyOptions}}
    {{#if create.property1}}
        {{> modules/pf2e-toolbox/templates/loot-app/create/RuneStats.html level=create.property1Level price=create.property1Price}}
    {{/if}}
{{/ifgt}}

{{#ifgt create.potency.nId 1}}
    {{> modules/pf2e-toolbox/templates/loot-app/create/SelectRow.html name="property2"
            label="Property 2" value=create.property2 options=create.propertyOptions}}
    {{#if create.property2}}
        {{> modules/pf2e-toolbox/templates/loot-app/create/RuneStats.html level=create.property2Level price=create.property2Price}}
    {{/if}}
{{/ifgt}}

{{#ifgt create.potency.nId 2}}
    {{> modules/pf2e-toolbox/templates/loot-app/create/SelectRow.html name="property3"
            label="Property 3" value=create.property3 options=create.propertyOptions}}
    {{#if create.property3}}
        {{> modules/pf2e-toolbox/templates/loot-app/create/RuneStats.html level=create.property3Level price=create.property3Price}}
    {{/if}}
{{/ifgt}}

<hr>

<h3>Final Stats</h3>
<p style="text-align: center">
    {{#if create.potency}}
        {{#ifgt create.potency.nId 0}}
            +{{create.potency.nId}}
        {{/ifgt}}

        {{#ifgt create.fundamental.nId 0}}
            {{create.fundamental.label}}
        {{/ifgt}}
        {{#if create.property1}}
            {{create.property1.label}}
        {{/if}}
        {{#if create.property2}}
            {{create.property2.label}}
        {{/if}}
        {{#if create.property3}}
            {{create.property3.label}}
        {{/if}}

    {{/if}}
    {{create.baseItem.name}}
</p>

<p style="text-align: center">
    {{create.itemRarity}}
</p>

<p class="clearfix" style="width: 100%">
    <span style="float: left">
        <i class="fas fa-level-up-alt"></i> <b>{{create.itemLevel}}</b>
    </span>
    <span style="float: right">
    {{#ifeq create.itemLevel 25}}
        <i class="fas fa-coins"></i> <b>—</b>
    {{else}}
        <i class="fas fa-coins"></i> <b>{{commas create.itemPrice}}</b> gp
    {{/ifeq}}
    </span>
</p>

<div class="form-group">
    <button id="create">Create</button>
</div>